header{
  background-color: #10ADED;
  padding: 10px 10px 10px 450px;
  border: 20px solid #DAA520;
}

.aside{
  background-color: #10ADED;
  color: #0000ff;
}

#MyFirstEntry{
  background-color: #FB1;
}

#UXandUI{
  background-color: #FB1;
}

#second{
  background-color: #10ADED;
}

#third{
  background-color: #10ADED;
}